.form-container-logstra
  form.form-horizontal.form-logstra#form-login-logstra(action='/login', method='post')
    .control-group
      label.control-label(for='inputEmail') Email
      .controls
        input#inputEmail(type='text', name='email', placeholder='Email')
    .control-group
      label.control-label(for='inputPassword') Пароль
      .controls
        input#inputPassword(type='password', name='password', placeholder='Password')
    .control-group
      .controls
        button.btn(type='submit') Войти
