.form-container-logstra
  form.form-horizontal.form-logstra#form-register-logstra(action='/registration', method='post', data-validate="parsley")
    .control-group
      label.control-label(for='inputFirstName') Имя
      .controls
        input.register-forms.textFields#inputFirstName(type='text', name='firstName', placeholder='Иван', data-validation-minlength="0", data-trigger="focusout", data-error-message="Поле не должно быть пустым", required="required")
    .control-group
      label.control-label(for='inputSecondName') Фамилия
      .controls
        input.register-forms.textFields#inputSecondName(type='text', name='lastName', placeholder='Дорн', data-validation-minlength="0", data-trigger="focusout", data-error-message="Поле не должно быть пустым", required="required")
    .control-group
      label.control-label(for='inputEmail') E-mail адрес
      .controls
        input.register-forms#inputEmail(type='text', name='email', placeholder='ivan@dorn.ru', data-type="email", data-validation-minlength="0", data-trigger="focusout", data-error-message="Email должен быть правильного формата", required="required")
    .control-group
      label.control-label(for='inputPassword') Пароль
      .controls
        input.register-forms.textFields#inputPassword(type='password', name='password', placeholder='Пароль', data-validation-minlength="0", data-minlength="6", data-trigger="focusout", data-error-message="Поле должно содержать минимум 6 символов", required="required")
    .control-group
      label.control-label(for='inputPassword2') Подтверждение пароля
      .controls
        input.register-forms#inputPassword2(type='password', name='password-repeat', placeholder='Подтверждение', data-validation-minlength="0", data-minlength="6", data-trigger="focusout", data-error-message="Поле должно содержать минимум 6 символов", required="required")
    .control-group
      .controls
        button.btn(type='submit') Зарегистрировать

script(src='/js/libs/jquery/jquery-min.js')
script(src='/js/libs/parsleyjs/parsley.js')
