script
  var passport = !{JSON.stringify(passport)}
#header.navbar.navbar-inverse.navbar-fixed-top
  - if (passport.user)
    .navbar-inner
      .container
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='/')
          | Rassokhin
        .nav-collapse.collapse
          ul.nav#header-nav
            li.active
              a.header-link.navigate(href='#') Главная
            li
              a.header-link.navigate(href='masters') Мастера
            li
              a.header-link.navigate(href='clients') Клиенты
            li
              a.header-link.navigate(href='journal') Журнал
            li
              a.header-link.navigate(href='statistics') Статистика
            li
              a.header-link.navigate(href='sms') СМС
          - if (passport.user)
            ul.nav.pull-right
              li
                a.header-link(href="javascript:void(0)") #{passport.user.displayName}
              li
                a.header-link(href='/logout') Выйти

  - if (login)
    include _login
  - if (register)
    include _register
- if (!login && !register)
  #content.container
    - if (!passport.user)
      .span6.offset3
        #welcome-page
          h1
            | Парикмахерская Шоколад
            br
            small
              | менеджмент клиентов
        a.btn.btn-primary.btn-large.btn-index-page(href='/login')#btn-login
          | Войти
        a.btn.btn-success.btn-large.btn-index-page(href='/register')#btn-register
          | Зарегистрировать пользователя
#footer
