!!! 5
html(lang='en')
  head
    title!= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='/assets/css/bootstrap.css')
    link(rel='stylesheet', href='/assets/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/css/stylesheet.css')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='ico/favicon.png')
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(data-main='/js/main', src='/js/libs/require/require.js')
  body!= body
