body
  padding-top: 60px

#header .brand
  padding: 11px 0px 2px 0px

.parsley-error-list
  margin: 0
  
.parsley-error-list > .custom-error-message
  list-style: none
  font-size: 14px
  color: red
  margin: 5px 0px 0px 25px

.data-table td
  text-align: right

.data-table td.controls
  text-align: center



.header-link
  padding: 10px !important
  margin-left: 15px;

.btn-index-page
  display: block
  margin-top: 5px
  margin-bottom: 5px
  padding-left: 0px !important
  padding-right: 0px !important
  width: 100%

.user-pic
  width: 40px;
  height: 40px;
  margin: 2px 0px 2px 0px;

.center
  text-align: center

.social-container
  text-align: center

#social-label
  margin: 15px 0px 15px 0px

.btn-social-index-page
  width: 90%
  padding-left: 0px
  padding-right: 0px

.ico-social
  width: 20px
  height: 20px
  margin-right: 7px
  margin-bottom: 2px
  opacity: 1
  
.form-container-logstra
  width: 600px
  margin-top: 30px
  margin-left: 25%
  
.register-forms
  margin-left: 20px

.registerWrongMessage
  display: inline
  margin-left: 20px
  color: red

#welcome-page
  padding-top: 40px
  padding-bottom: 10px
  text-align: center

#table-projects
  margin-top: 15px

#table-projects td
  padding-left: 20px

#btn-new-project
  float:left
  margin: 0 20px 15px 30px

#icon-plus-btn-new-project
  margin-right: 5px
 
#table-projects
  float: right;
  margin-right: 20px;
  width: 85%

#input-new-project-name
  float: left
  margin-left: 30px

.hidden-class
  display: none !important

#table-versions
  float: left
  width: 300px

#table-versions td
  text-align: center

#table-versions th
  text-align: center

#dashboard-header
  margin-bottom: 20px

#dashboard-header .dashboard-header-link
  margin-right: 20px
  
#dashboard-header #dashboard-header-links
  text-align: right

#search-projects
  float: right
  margin-right: 20px

.nonvisible
  display: none

.version-heading
  padding: 8px 15px 8px 15px

.btn-open-version
  float: right
  position: relative
  bottom: 5px

#textarea-ver-note-wrong-mes
  color: #f00

#toggle-checkboxes
  clear: both
  margin-bottom: 15px

#btn-modal-share
  clear: both

.modal-email-label
  margin: 3px 7px 3px 7px

#input-share-user
  margin: 5px 0px 5px 0px

#header-share-user
  margin: 20px 0px 0px 0px

#modal-mail
  width: 800px
  margin-left: -400px

#wrong-email
  color: #f00

#invite-list
  list-style: none

#invite-list li
  margin: 2px 0px 2px 0px

#bind-button-group
  margin-top: 40px

.bind-button
  width: 230px;
  display: block;
  margin-bottom: 5px;
  text-align: left;
  margin-bottom: 5px

#textarea-version-comment
  width: 100%
  height: 20px

.comment-list
  overflow-y: auto
  max-height: 300px

.comment-list blockquote
  margin: 0px 0px 10px

.comment-list blockquote p
  font-size: 14px

.edit-notes
  position: relative
  top:30px

.post-btn
	position:relative
	top:30px

.right
  float: right
  clear: both

.project-line .email-sending-image
  width: 20px;
  height: 20px;

.version-note-container
  margin-bottom: 20px  
  margin-top: 40px

.comment-list .span2
  width: 50px

.comment-list .span10
  margin-left: 0px

.shared-container
  margin-top: 40px

.version-line-text
  display: inline
