<link rel="stylesheet" href="/assets/css/jquery.dataTables.css">
<link rel="stylesheet" href="/assets/css/jquery.dataTables_themeroller.css">
<link rel="stylesheet" href="/assets/css/unicorn.main.css">
<div id="content">
  <div id="spinner" class="hide" style="display: none;">
    <img src="assets/img/loading.gif" style="width: 100px;height: 100px;margin-top:35px;">
    <h1>Загрузка...</h1>
  </div>
  <div id="content-header">
    <h1>Клиенты</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div style="margin-left:0px;" class="span12">
        <div class="widget-box">
          <div class="widget-title">
            <h5>Клиенты (<%= clients.length %> всего)</h5>
          </div>
          <div class="widget-content nopadding">
              <table id="clientsTable" name="clientsTable" class="table table-bordered data-table">
                <thead>
                  <tr role="row">
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Фамилия</th>
                    <th>E-mail</th>
                    <th>Телефон</th>
                    <th>Комментарий</th>
                    <th></th>
                </thead>
                <tbody>
                  <% if(clients.length) { %>
                    <% for(var i = 0; i < clients.length; i++) { %>
                      <tr id="<%= clients[i]['_id'] %>">
                        <td><%= clients[i].firstName %></td>
                        <td><%= clients[i].secondName %></td>
                        <td><%= clients[i].lastName %></td>
                        <td><%= clients[i].email %></td>
                        <td><%= clients[i].phone %></td>
                        <td><%= clients[i].comment %></td>
                        <td class="controls">
                          <a href="javascript:void(0)" class="item-edit">Редактировать</a>
                          |
                          <a href="javascript:void(0)" class="item-delete">Удалить</a>
                        </td>
                      </tr>
                    <% } %>
                  <% } %>
                </tbody>
              </table>
            </div>

            <div id="container-controls">
              <button class="btn" id="btn-add-item">Добавить</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="addModal" data-method="create" class="modal hide fade">
    <div class="modal-header">
      <button data-dismiss="modal" type="button" class="close">x</button>
      <h3>Клиент</h3>
    </div>
    <div style="height:120%" class="modal-body">
      <p style="color:red;text-align:center;margin-left:30px;" class="error hide"></p>
      <input type="hidden" id="id-model">
      <form class="form-horizontal" data-validate="parsley">
        <% for(var i = 0; i < inputs.length; i++) { %>
          <div class="control-group">
            <label class="control-label">
              <b style="color:red">*</b>
              <%= inputs[i].text %>
            </label>
            <div class="controls">
              <input type="text" id="<%= inputs[i].id %>" <% if(inputs[i].dataType.length) { %>data-type="<%= inputs[i].dataType %>"<% } %> required="required" data-validation-minlength="0" data-trigger="focusout" data-error-message="<%= inputs[i].errorMessage %>">
            </div>
          </div>
        <% } %>
      </form>
    </div>
    <div class="modal-footer">
      <img id="img-loading" src="assets/img/loading.gif" hidden="hidden" class="img-loading">
      <button type="submit" id="btn-modal-save" class="btn btn-primary">
        Сохранить
      </button>
      <button data-dismiss="modal" id="btn-modal-cancel" aria-hidden="true" class="btn">
        Отменить
      </button>
    </div>
  </div>
</div>
