<link rel="stylesheet" href="/assets/css/jquery.dataTables.css">
<link rel="stylesheet" href="/assets/css/jquery.dataTables_themeroller.css">
<link rel="stylesheet" href="/assets/css/unicorn.main.css">
<div id="content">
  <div id="spinner" class="hide" style="display: none;">
    <img src="assets/img/loading.gif" style="width: 100px;height: 100px;margin-top:35px;">
    <h1>Загрузка...</h1>
  </div>
  <div id="content-header">
    <h1>СМС Рассылка</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div style="margin-left:0px;" class="span12">
        <div class="widget-box">
          <div class="widget-title">
            <h5>Клиенты (<%= clients.length %> всего)</h5>
          </div>
          <div class="widget-content nopadding">
              <table id="clientsTable" name="clientsTable" class="table table-bordered data-table">
                <thead>
                  <tr role="row">
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Фамилия</th>
                    <th>E-mail</th>
                    <th>Телефон</th>
                    <th>Комментарий</th>
                    <th>Выделить</th>
                </thead>
                <tbody>
                  <% if(clients.length) { %>
                    <% for(var i = 0; i < clients.length; i++) { %>
                      <tr client-id="<%= clients[i]['_id'] %>">
                        <td><%= clients[i].firstName %></td>
                        <td><%= clients[i].secondName %></td>
                        <td><%= clients[i].lastName %></td>
                        <td><%= clients[i].email %></td>
                        <td><%= clients[i].phone %></td>
                        <td><%= clients[i].comment %></td>
                        <td class="controls">
                          <input type="checkbox" class="checkbox-client-sms">
                        </td>
                      </tr>
                    <% } %>
                  <% } %>
                </tbody>
              </table>
            </div>

            <div id="container-controls">
              <button class="btn" id="btn-add-item">Добавить</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
